@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: max(4px, 0.75vmin);
}

body {
    overflow: hidden;
    background: #000000;
}

::-moz-selection {
    background: #000;
    color: #fff;
}

::selection {
    background: #000;
    color: #fff;
}

.some-content {
    position: fixed;
    z-index: 1;
    top: calc(50% - 16rem);
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    color: #fff;
    font-family: 'Cinzel', serif;
    text-align: center;
}

.some-content > .a {
    font-size: 16rem;
    border-bottom: 2px solid #000;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.some-content > .b {
    margin-top: 2rem;
    font-size: 3rem;
    color: #000;
}

.some-content > .c {
    margin-top: 2rem;
}

.some-content > .c > .s {
    display: inline-block;
    margin: 0 1rem;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 2rem;
    text-align: center;
    background: #000;
    color: #fff;
    border-radius: 50%;
}

.scroll-arrow {
    position: fixed;
    z-index: 1;
    bottom: 4rem;
    left: calc(50% - 4rem);
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@-webkit-keyframes move-scroll-arrow {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(0%);
        -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
    }
    55% {
        transform: translateY(90%);
        -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
    }
    60% {
        transform: translateY(0%);
        -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
    }
    65% {
        transform: translateY(90%);
        -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
    }
    70% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes move-scroll-arrow {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(0%);
        -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
    }
    55% {
        transform: translateY(90%);
        -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
    }
    60% {
        transform: translateY(0%);
        -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
    }
    65% {
        transform: translateY(90%);
        -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
    }
    70% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(0%);
    }
}

.scroll-arrow::before {
    content: '';
    position: absolute;
    bottom: 1.5rem;
    left: calc(50% - 2rem - 1px);
    height: 4rem;
    width: 2rem;
    background: linear-gradient(60deg, transparent 0%, transparent 49%, #000 50%, #000 100%);
    -webkit-animation: move-scroll-arrow 5s linear infinite;
            animation: move-scroll-arrow 5s linear infinite;
}

.scroll-arrow::after {
    content: '';
    position: absolute;
    bottom: 1.5rem;
    left: calc(50% + 1px);
    height: 4rem;
    width: 2rem;
    background: linear-gradient(-60deg, transparent 0%, transparent 49%, #000 50%, #000 100%);
    -webkit-animation: move-scroll-arrow 5s linear infinite;
            animation: move-scroll-arrow 5s linear infinite;
}

.root {
    opacity: 0;
    transition: opacity 2s ease-in;
}

.root.-loaded {
    opacity: .5;
}